site_name: Text Lab Guide
site_url: https://dsl-unibe-ch.github.io/text_lab/
site_description: Documentation for the Text Lab NLP Service at University of Bern

repo_name: dsl-unibe-ch/text_lab
repo_url: https://github.com/dsl-unibe-ch/text_lab

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: red
      accent: red 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode configuration
    - scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs        
    - navigation.sections    
    - navigation.expand      
    - navigation.top         
    - search.suggest         
    - search.highlight       
    - content.code.copy      
  logo: assets/text_lab_logo.png
  favicon: assets/icon.png

# Navigation Structure
nav:
  - Home: index.md
  - Launching Text Lab: launch.md
  - Features:
    - Transcription: transcription.md
    - OCR: ocr.md
    - Knowledge Graph: knowledge_graph.md
    - Chat & Viz: other_tools.md

# Extensions to make Markdown look better
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
