<form action="/node/<%= host %>/<%= port %>/" method="get" target="_blank">
  <input type="hidden" name="token" value="<%= password %>">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-headphones"></i> Connect to Whisper UI
  </button>
</form>
